.footer {
  margin: 67px auto 60px auto;
}

.footer__copyright {
  color: #545454;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

/* Breakpoint 595px - single column */
@media screen and (max-width: 595px) {
  .footer {
    margin: 48px 0 36px;
  }

  .footer__copyright {
    max-width: 282px;
    padding-left: 19px;
  }
}
