@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);

.page {
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* min-width: 68.75%; */
  padding: 0 10px;
}
/* needs more explanation with this above */

/* .page__content {
  margin-left: 15.625%;
  margin-right: 15.625%;
} - can i use % for margin? */

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  margin-top: 45px;
  /* max-width: 880px; 
  ->  page__section has max-width already */
  height: 74px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

/* Jackque C, edit button, explorer grid */
.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__title {
  color: #fff;
  font-family: Inter, Ariel, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 114.286% */
  grid-area: title;
  margin: 0 0 7px 0;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.png) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  margin-left: 18px;
}

.profile__description {
  color: #fff;
  font-family: Inter, Ariel, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-area: description;
  margin: 0;
}

.profile__add-button {
  background: transparent url(../images/Add\ Button.png) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.cards {
  margin-top: 30px;
  /* fonts */
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  /* row gap column gap */
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  background: lightgray 50% / cover no-repeat;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}

.card__title {
  color: #000;
  font-family: Inter, Ariel, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__descripton {
  background-color: transparent url(../images/like-inactive.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  margin-left: auto;
  border: none;
}

.footer {
  margin: 67px auto 60px auto;
}

.footer__copyright {
  color: #545454;
  font-family: Inter, Ariel, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Breakpoint 595px - single column */
@media screen and (max-width: 595px) {
  .page__content {
    padding: 0 0;
  }

  .header {
    margin-top: 28px;
    height: 56px;
    border-bottom: solid 1px rgba(84, 84, 84, 0.7);
    margin-bottom: 42px;
  }

  .logo {
    height: 24px;
    width: 126px;
    padding-left: 27px;
    padding-bottom: 32px;
  }

  .profile {
    flex-direction: column;
    padding-top: 0;
  }

  .profile__image {
    margin-left: auto;
    margin-right: auto;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__title {
    color: #fff;
    text-align: center;
    font-family: Inter, Ariel, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 196px;
    max-height: 22px;
    margin-left: 62px;
  }

  .profile__edit-button {
    justify-content: center;
    /* padding-left: 10px; */
  }

  .profile__description {
    width: 100%;
    text-align: center;
    max-width: 282px;
    max-height: 14px;
    color: #fff;
    text-align: center;
    font-family: Inter, Ariel, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 36px;
  }

  .profile__add-button {
    background: transparent url(../images/add-button-mobile.svg) center
      no-repeat;
    width: 282px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    border: 2px solid #fff;
    padding-bottom: 36px;
  }

  .footer {
    margin: 48px 19px 36px 19px;
  }

  .footer__copyright {
    max-width: 282px;
    max-height: 14px;
  }
}
